<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz3bYgWIkv6nmJ0OjI_XpUxSXBCDjrozk</string>
	<key>GCM_SENDER_ID</key>
	<string>1004878179078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appKsu</string>
	<key>PROJECT_ID</key>
	<string>senior-project-662d8</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-project-662d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004878179078:ios:fa288d41b004b212d8cc87</string>
</dict>
</plist>